html, body {
    height: 100%;
}

#main {
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    align-items:center;
    flex-wrap: nowrap;

    margin: 0;
}

#mainpart {
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-wrap: nowrap;

    background: white;
    height: 100%;
}

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    background: rgb(41, 41, 41);

    box-shadow: 0 3px 0 rgb(216, 68, 68);
}

#header #headermain {
    font-size: 14px;
    width: 80em;
    margin-left: auto;
    margin-right: auto;
}

#header #headermain .navigation #mainimage {
    margin-right: 2em;
}

#header #headermain .navigation #mainimage:hover {
    cursor: pointer;
}

#header #headermain .navigation {
    flex-direction: row;
    list-style: none;
    display: flex;
    padding-left: 0;
}

#header #headermain .menubutton {
    background: inherit;
    border: none;
    font-size: 25px;
    padding: 8px;
    color: white;
}

#header #headermain .menubutton::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

#header #headermain .menubutton:hover {
    color: rgb(216, 68, 68);
    cursor: pointer;
}

#header #headermain .navigationitem {
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
}

#header #headermain .navigationitem .dropdown {
    display: none;
    background: rgb(236, 236, 236);
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: absolute;
    left: 0;
    min-width: 10em;
    font-size: 18px;
}

#header #headermain .navigationitem .dropdown .dropdownelement {
	color: black;
	text-decoration: none;
    padding: 8px;
}

#header #headermain .navigationitem .dropdown .dropdownelement:hover{
    background: rgb(216, 68, 68);
    color: white;
    cursor: pointer;
}

#header #headermain .navigationitem:hover .dropdown {
    display: flex;
    flex-direction: column;
}

#maindiv {
    margin-top: 85px;
}

#serverinfoheader {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;
}

#serverinfoheader h1 {
    color: #d7221e;
    font-size: 50px;
    margin-bottom: 10px;
}

#serverinfoheader p {
    font-size: 15px;
    opacity: 0.8;
    margin-top: 0px;
}

#serverinfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 79em;
}

#serverinfo .server {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    background-color: rgb(241, 241, 241);
    padding: 25px;
    width: 20em;
    height: 10em;
    border-radius: 5px;
    /* box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.35); */
    box-shadow: 2px 2px rgb(170, 170, 170);

    margin: 5px;
}

#serverinfo .server:hover {
    background-color: rgb(231, 231, 231);
}

#serverinfo .server .serverheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    flex-wrap: nowrap;

    margin-bottom: 25px;
}

#serverinfo .server .serverheader img {

    margin-bottom: 10px;
}

#serverinfo .server .serverheader span {
    color: #d7221e;
    font-size: 20px;
}

#serverinfo .server .serverdesc {
    display: grid;
}

#serverinfo .server .serverdesc .infoh {
    grid-column-start: 1;
}

#serverinfo .server .serverdesc .infod {
    grid-column-start: 2;
}

#serverinfo .server .serverdesc .serverip {
    margin-bottom: 5px;
}

#serverinfo .server .serverdesc .serverstatus.infoh {
    margin-top: auto;
    margin-bottom: auto;
}

#serverinfo .server .serverdesc .serverstatus.infod {
    background: #d7221e;
    color: white;
    padding: 5px;
    border-radius: 4px;
    margin-right: auto;
}

#notfound {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items:center;
    justify-content:center;

    width: 100%;
    height: 100%;
}

.notfoundh {
    font-size: 97px;
    margin: 0;
}

.notfoundd {
    margin: 0;
}